body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: #f5f1e6; 
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
h2{
    text-align: center;
}

.signup {
    width: 380px;
    background: white;
    padding: 25px;
    border-radius: 10px;
    border: 2px solid #6b5132;
  
}

.signup input[type="text"],
.signup input[type="email"],
.signup input[type="password"] {
    width: 90%;
    padding: 10px;
    margin: 8px 0;
    border: 1px solid #b8a48a;
    border-radius: 5px;
    font-size: 15px;
}

.signup input[type="submit"] {
    width: 95%;
    padding: 12px;
    background-color: #6b5132;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 15px;
}

.signup input[type="submit"]:hover {
    background-color: #8a6a45;
}